{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Pysimplelife - Login{% endblock title %}

{% block content %}
<h2 class='text-align-center'><strong>Login on Pysimplelife</strong></h2>
  <div class='col-sm-6 col-sm-offset-3'>

    <div class="panel-body">
      <form method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" class='btn btn-block btn-default'><strong>Confirm</strong></button>
      </form>
    </div>
  </div>
{% endblock content %}
