{% extends 'core/base.html' %}
{% load crispy_forms_filters %}

{% block title %}Reset Password - Pysimplelife{% endblock title %}

{% block content %}

<h2 class='text-align-center'><strong>Reset password</strong></h2>
<div class="panel-body">
    <h3>We've sent an email to the address you specified with instructions for setting a new password.</h3>
    <h3>If you do not receive the email, please check your spam folder. For further assistance please email us at <a href="mailto:patientenportal@v-a-l.nl">pyprogrammer@gmail.com</a>.</h3>
</div>

{% endblock content %}

