{% extends 'core/base.html' %}
{% load crispy_forms_filters %}

{% block title %}Forgotten password - Pysimplelife{% endblock title %}

{% block content %}

<h2 class='text-align-center'><strong>Reset password</strong></h2>
  <div class='col-sm-6 col-sm-offset-3'>
    <div class="panel-body">
      <form method="post" action=".">
        <p class="tex align-center">Have you forgotten your password? Fill your Email and an Email will be send to you with instructions.</p>
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" class='btn btn-block btn-default'><strong>Send</strong></button>
      </form>
    </div>
  </div>
<br/>

{% endblock content %}
